@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
body {
    background-image: url(Polygon.svg);
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.main{
    background-image: url(Polygon.svg);
}
#logo {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .heading {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.speed-display {
    margin-bottom: 20px;
}

#startTest {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#startTest:hover {
    background-color: #0056b3;
}
